In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mpl
import math 
import seaborn as sea
import statistics
from sklearn.linear_model import LinearRegression

In [2]:
path = "BankChurners.csv"
bank = pd.read_csv(path, na_values = "Unknown")
bank.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,NaN,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [3]:
bank.isnull().sum()

CLIENTNUM                                                                                                                                0
Attrition_Flag                                                                                                                           0
Customer_Age                                                                                                                             0
Gender                                                                                                                                   0
Dependent_count                                                                                                                          0
Education_Level                                                                                                                       1519
Marital_Status                                                                                                                         749
Income_Category                                                                                                                       1112
Card_Category                                                                                                                            0
Months_on_book                                                                                                                           0
Total_Relationship_Count                                                                                                                 0
Months_Inactive_12_mon                                                                                                                   0
Contacts_Count_12_mon                                                                                                                    0
Credit_Limit                                                                                                                             0
Total_Revolving_Bal                                                                                                                      0
Avg_Open_To_Buy                                                                                                                          0
Total_Amt_Chng_Q4_Q1                                                                                                                     0
Total_Trans_Amt                                                                                                                          0
Total_Trans_Ct                                                                                                                           0
Total_Ct_Chng_Q4_Q1                                                                                                                      0
Avg_Utilization_Ratio                                                                                                                    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1       0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2       0
dtype: int64

In [4]:
status = bank["Marital_Status"]
married = 0
single = 0
divorced = 0
a = ["Married","Single","Divorced"]
for i in range(len(status)):
    if status[i] == "Married":
        married += 1
    elif status[i] == "Single":
        single += 1
    elif status[i] == "Divorced":
        divorced += 1
print("Married - ",married )
print("Single - ",single )
print("Divorced - ",divorced )
full = married + single + divorced
perc_m = ((married)/full)
perc_s = ((single)/full)
perc_d = ((divorced)/full)
print("Married - " ,perc_m )
print("Single - "  ,perc_s )
print("Divorced - ",perc_d )

Married -  4687
Single -  3943
Divorced -  748
Married -  0.499786734911495
Single -  0.4204521219876306
Divorced -  0.07976114310087438

In [5]:
for i,num in enumerate(bank['Marital_Status']):
    if type(num) == float :
        arr = np.random.choice(a, 1, p=[0.4997, 0.4204,0.0799])
        string = ''.join(arr)
        bank.at[i, 'Marital_Status'] = string

In [6]:
bank["Education_Level"].value_counts()

Graduate         3128
High School      2013
Uneducated       1487
College          1013
Post-Graduate     516
Doctorate         451
Name: Education_Level, dtype: int64

In [7]:
status = bank["Education_Level"]
Graduate = 0
High_School = 0
Uneducated = 0
College = 0
Post_Graduate = 0 
Doctorate = 0
graduate = ["Graduate","High School","Uneducated","College","Post-Graduate","Doctorate"]
for i in range(len(status)):
    if status[i] == "Graduate":
        Graduate += 1
    elif status[i] == "High School":
        High_School += 1
    elif status[i] == "Uneducated":
        Uneducated += 1
    elif status[i] == "College":
        College += 1
    elif status[i] == "Post-Graduate":
        Post_Graduate += 1
    elif status[i] == "Doctorate":
        Doctorate += 1
full = Graduate + High_School + Uneducated + College + Post_Graduate + Doctorate
perc_Graduate = ((Graduate)/full)
perc_High_School = ((High_School)/full)
perc_Uneducated = ((Uneducated)/full)
perc_College = ((College)/full)
perc_Post_Graduate = ((Post_Graduate)/full)
perc_Doctorate = ((Doctorate)/full)
print("Graduate - " ,perc_Graduate )
print("High School - "  ,perc_High_School )
print("Uneducated - ",perc_Uneducated )
print("College - ",perc_College )
print("Post-Graduate - ",perc_Post_Graduate )
print("Doctorate - ",perc_Doctorate )
for i,num in enumerate(bank['Education_Level']):
    if type(num) == float :
        arr = np.random.choice(graduate, 1, p=[perc_Graduate, perc_High_School, perc_Uneducated, perc_College, perc_Post_Graduate, perc_Doctorate])
        string = ''.join(arr)
        bank.at[i, 'Education_Level'] = string

Graduate -  0.36338289962825276
High School -  0.23385223048327136
Uneducated -  0.17274628252788105
College -  0.11768122676579926
Post-Graduate -  0.05994423791821561
Doctorate -  0.052393122676579924

In [8]:
inc_cat = bank["Income_Category"].value_counts()
print(inc_cat)

Less than $40K    3561
$40K - $60K       1790
$80K - $120K      1535
$60K - $80K       1402
$120K +            727
Name: Income_Category, dtype: int64

In [9]:
status = bank["Income_Category"]
full = 0
money  = ['Less than $40K','$40K - $60K','$80K - $120K','$60K - $80K','$120K +']
for i in range(len(inc_cat)):
    full+=inc_cat[i]
perc_lt40 = inc_cat[0]/full
perc_40t60 = inc_cat[1]/full
perc_60t80 = inc_cat[3]/full
perc_80t120 = inc_cat[2]/full
perc_gt120 = inc_cat[4]/full
for i,num in enumerate(bank['Income_Category']):
    if type(num) == float :
        arr = np.random.choice(money, 1, p=[perc_lt40, perc_40t60, perc_60t80, perc_80t120, perc_gt120])
        string = ''.join(arr)
        bank.at[i, 'Income_Category'] = string

In [10]:
bank.isnull().sum()

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64