In [111]:
import pandas

dat=pandas.read_csv("BankChurners.csv",  delimiter=",")

print(dat.eq(None).sum().sum())
print(dat.eq("Unknown").sum().sum())
print(dat.eq("NaN").sum().sum())
print(dat.eq("Unknown").sum())

numerical_list=['Customer_Age','Months_on_book','Total_Relationship_Count','Contacts_Count_12_mon','Credit_Limit',
                'Total_Revolving_Bal','Avg_Open_To_Buy','Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt','Total_Trans_Ct',
                'Total_Ct_Chng_Q4_Q1','Avg_Utilization_Ratio',
                'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']
categorical_list=['Attrition_Flag','Gender','Marital_Status']
ordinal_list=['Dependent_count', 'Education_Level', 'Income_Category', 'Card_Category','Months_Inactive_12_mon']

0
3380
0
CLIENTNUM                                                                                                                                0
Attrition_Flag                                                                                                                           0
Customer_Age                                                                                                                             0
Gender                                                                                                                                   0
Dependent_count                                                                                                                          0
Education_Level                                                                                                                       1519
Marital_Status                                                                                                                         749
Income_Category                                                                                                                       1112
Card_Category                                                                                                                            0
Months_on_book                                                                                                                           0
Total_Relationship_Count                                                                                                                 0
Months_Inactive_12_mon                                                                                                                   0
Contacts_Count_12_mon                                                                                                                    0
Credit_Limit                                                                                                                             0
Total_Revolving_Bal                                                                                                                      0
Avg_Open_To_Buy                                                                                                                          0
Total_Amt_Chng_Q4_Q1                                                                                                                     0
Total_Trans_Amt                                                                                                                          0
Total_Trans_Ct                                                                                                                           0
Total_Ct_Chng_Q4_Q1                                                                                                                      0
Avg_Utilization_Ratio                                                                                                                    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1       0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2       0
dtype: int64

I decided to unify the format first to be able to use median to replace unknown values

In [112]:
a=set()
for el in dat.columns:
    t=type(dat[el][0])
    a.add(t)
print(a,"\n")

lng=len(dat[el])

for el in dat.columns:
    t=type(dat[el][0])
    if t==str:
        print(el,t)
        if el in categorical_list:
            q=list(dict(dat[el].value_counts()).keys())
        else:
            q=[['Uneducated','High School', 'College','Graduate','Post-Graduate','Doctorate'],
              ['Less than $40K', '$40K - $60K','$60K - $80K', '$80K - $120K', '$120K +'],
              ['Blue', 'Silver', 'Gold', 'Platinum']]\
            [["Education_Level","Income_Category","Card_Category"].index(el)]
        for i in range (lng):
            if dat[el][i]=="Unknown":
                dat.at[i,el]=None
            else:
                dat.at[i,el]=q.index(dat[el][i])
        print(dat[el])
        
a=set()
for el in dat.columns:
    t=type(dat[el][0])
    a.add(t)
print(a,"\n")

{<class 'numpy.int64'>, <class 'numpy.float64'>, <class 'str'>}

Attrition_Flag <class 'str'>
0        0
1        0
2        0
3        0
4        0
        ..
10122    0
10123    1
10124    1
10125    1
10126    1
Name: Attrition_Flag, Length: 10127, dtype: object
Gender <class 'str'>
0        1
1        0
2        1
3        0
4        1
        ..
10122    1
10123    1
10124    0
10125    1
10126    0
Name: Gender, Length: 10127, dtype: object
Education_Level <class 'str'>
0           1
1           3
2           3
3           1
4           0
         ...
10122       3
10123    None
10124       1
10125       3
10126       3
Name: Education_Level, Length: 10127, dtype: object
Marital_Status <class 'str'>
0           0
1           1
2           0
3        None
4           0
         ...
10122       1
10123       3
10124       0
10125    None
10126       0
Name: Marital_Status, Length: 10127, dtype: object
Income_Category <class 'str'>
0        2
1        0
2        3
3        0
4        2
        ..
10122    1
10123    1
10124    0
10125    1
10126    0
Name: Income_Category, Length: 10127, dtype: object
Card_Category <class 'str'>
0        0
1        0
2        0
3        0
4        0
        ..
10122    0
10123    0
10124    0
10125    0
10126    1
Name: Card_Category, Length: 10127, dtype: object
{<class 'numpy.int64'>, <class 'numpy.float64'>, <class 'int'>}

In [113]:
import statistics

for el in dat.columns:
    m=statistics.median([x for x in dat[el] if x!=None])
    q=len(dat[el])
    for i in range (q):
        if dat[el][i]==None:
            dat.at[i,el]=int(m)

print(dat)

       CLIENTNUM Attrition_Flag  Customer_Age Gender  Dependent_count  \
0      768805383              0            45      1                3
1      818770008              0            49      0                5
2      713982108              0            51      1                3
3      769911858              0            40      0                4
4      709106358              0            40      1                3
...          ...            ...           ...    ...              ...
10122  772366833              0            50      1                2
10123  710638233              1            41      1                2
10124  716506083              1            44      0                1
10125  717406983              1            30      1                2
10126  714337233              1            43      0                2

      Education_Level Marital_Status Income_Category Card_Category  \
0                   1              0               2             0
1                   3              1               0             0
2                   3              0               3             0
3                   1              1               0             0
4                   0              0               2             0
...               ...            ...             ...           ...
10122               3              1               1             0
10123               2              3               1             0
10124               1              0               0             0
10125               3              1               1             0
10126               3              0               0             1

       Months_on_book  ...  Credit_Limit  Total_Revolving_Bal  \
0                  39  ...       12691.0                  777
1                  44  ...        8256.0                  864
2                  36  ...        3418.0                    0
3                  34  ...        3313.0                 2517
4                  21  ...        4716.0                    0
...               ...  ...           ...                  ...
10122              40  ...        4003.0                 1851
10123              25  ...        4277.0                 2186
10124              36  ...        5409.0                    0
10125              36  ...        5281.0                    0
10126              25  ...       10388.0                 1961

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
0              11914.0                 1.335             1144              42
1               7392.0                 1.541             1291              33
2               3418.0                 2.594             1887              20
3                796.0                 1.405             1171              20
4               4716.0                 2.175              816              28
...                ...                   ...              ...             ...
10122           2152.0                 0.703            15476             117
10123           2091.0                 0.804             8764              69
10124           5409.0                 0.819            10291              60
10125           5281.0                 0.535             8395              62
10126           8427.0                 0.703            10294              61

       Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  \
0                    1.625                  0.061
1                    3.714                  0.105
2                    2.333                  0.000
3                    2.333                  0.760
4                    2.500                  0.000
...                    ...                    ...
10122                0.857                  0.462
10123                0.683                  0.511
10124                0.818                  0.000
10125                0.722                  0.000
10126                0.649                  0.189

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  \
0                                               0.000093
1                                               0.000057
2                                               0.000021
3                                               0.000134
4                                               0.000022
...                                                  ...
10122                                           0.000191
10123                                           0.995270
10124                                           0.997880
10125                                           0.996710
10126                                           0.996620

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0                                               0.999910
1                                               0.999940
2                                               0.999980
3                                               0.999870
4                                               0.999980
...                                                  ...
10122                                           0.999810
10123                                           0.004729
10124                                           0.002118
10125                                           0.003294
10126                                           0.003377

[10127 rows x 23 columns]